<form #form="ngForm" autocomplete="off">

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-astronaut"></i>
                </div>
            </div>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.CardOwnerName"
                type="text" class="form-control" placeholder="Card Owner Name" required>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-credit-card"></i>
                </div>
            </div>
            <input name="CardNumber" #CardNumber="ngModel" [(ngModel)]="service.formData.CardNumber" type="text"
                class="form-control" placeholder="Card Number" required maxlength="16" minlength="16">
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-7">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-calendar-times"></i>
                    </div>
                </div>
                <input name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="service.formData.ExpirationDate"
                    type="text" class="form-control" placeholder="MM/YY" required maxlength="5" minlength="5">
            </div>
        </div>


        <div class="form-group col-md-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-unlock-alt"></i>
                    </div>
                </div>
                <input name="CVV" #CVV="ngModel" [(ngModel)]="service.formData.CVV" type="password" class="form-control"
                    placeholder="CVV" required maxlength="3" minlength="3">
            </div>
        </div>

    </div>

    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-save"></i> Submit</button>
    </div>

</form>